* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content-father {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 80px 1fr 80px;
    overflow-x: hidden;
}



main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr;


    label {
        display: block;
    }
}

$color-principal:#97a8c6;


img{
    max-width: 300px;
}