.mision {
    grid-column: 1 / span 2;
    grid-row: 4;
    text-align: center;
}

.vision {
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: center;
}

.valores {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}