.titulo-contacto {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

.formulario-contacto {
    grid-column: 1 / span 2;
    padding-left: 18%;

}



.custom-color-btn {
    background-color: #97a8c6;

}



@media (min-width: 320px) and (max-width: 758px) {
    .formulario-contacto {
        padding: 0;
    }
}