.left-col-quienesomos {
    grid-column: 1 / span 2;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1%;

    a{
        margin-top: 3%;
    }
}

.container-img {
    display: flex;
    max-height: 400px;
    object-fit: cover;
    text-align: center;
    gap: 15px;

    img {
        border-radius: 10%;
    }
}

.container-clientes {
    max-height: 150px;

}

.caja-fotos-principales {
    grid-row: 4;
    grid-column: 1 / span 2;
    text-align: center;
    margin: 0 auto;

}


.foto-primer-row {
    margin-top: 1rem;
    background-image: url(../images/bakcground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: slider2;
    animation-duration: 2.7s;

}

.titulo-main {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}


.titulo-main {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

.primer-row {
    margin-top: 1rem;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    background-color: #3861a8;
    animation-name: slider;
    animation-duration: 2.7s;
    transition-timing-function: cubic-bezier(0, 2, 1, .1);
    padding: 10% 0 10% 0%;



    h1 {
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    p {
        margin-top: 10%;
        color: white;
        font-family: 'ABeeZee', sans-serif;
        animation-name: zoomout;
        animation-delay: 1.5s;
        animation-duration: 2s;
        animation-fill-mode: both;
    }

}


@keyframes zoomout {

    from {
        display: hidden;
        transform: scale(0);
    }

    to {
        display: block;
        transform: scale(1);
    }
}

@keyframes slider {
    from {
        margin-right: 20rem;
    }

    to {
        margin-right: 0rem;
    }
}

@keyframes slider2 {
    from {
        margin-left: 20rem;
    }

    to {
        margin-left: 0rem;
    }
}

@media (min-width: 320px) and (max-width: 968px) {

    .container-img {
        display: flex;
        width: 100%;
        overflow-x: scroll;

        & img {
            flex: 0 0 100%;
            width: 100%;
            object-fit: cover;
            scroll-snap-align: center;
        }
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .primer-row {
        grid-column: 1 / span 2;
        max-height: 400px;

        & p {
            margin-top: 10px;
        }
    }


    .foto-primer-row {
        display: none;
    }


    .left-col-quienesomos {
        margin: 0;
    }

    .caja-fotos-principales {
        margin: 0;
    }

}

.container-clientes {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 0;
}