.titulo-tb-realizados {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

.trabajos-realizados {
    grid-column: 1 / span 2;
    grid-row: 2 / span 4;
    text-align: center;
}
