header {
    grid-area: header;
    border-bottom: 0px solid black;
    box-shadow: 0 0.2rem 3rem -1rem;
    background-color:$color-principal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    width: 100%;
}

.menu-mobile {
    display: none;
    grid-area: header;
    z-index: 1;
}

.logo {
    max-height: 60px;
    margin-left: 2%;
    display: inline;
    border-radius: 3%;
    overflow: auto;

}

.botom-nav {
    ul {
        list-style-type: none;
    }

    li {
        padding: 0px;
        display: inline;
        color: white;
    }

    a {
        color: black;
        text-decoration: none;
        padding: 1rem;
        margin: 2rem;
    }


    a:hover {
        text-decoration: underline red;
        cursor: pointer;
        border-radius: 4%;
        transition-duration: 0.6s;
        margin: 0rem;
    }

}


@media (min-width: 320px) and (max-width: 480px) {
    .menu-mobile {
        display: block;
        list-style: none;
        width: 100%;}

    .custom-color-nav {
        background-color:$color-principal;
        & .nav-item {
            background-color: #97a8c6;
        }
    }

    header {
        display: none;
    }

    .botom-nav {
        display: hidden;
    }

    .logo {
        display: none;
    }


}

